# **Automate The Boring Stuffs Lesson 1**

```
# Q1
* ---> Operator
'hello' ---> Values
-88.8 ---> Values
- ---> Operator
/ ---> Operator
+ ---> Operator
5 --- > Values
```

```
Q2
spam is a variable and 'spam' is a string
```

```
Q4
The three datatypes which are commonly used in python are float,int and string
```

```
Q5
Expression are made up of either strings or values they often give a output based on which command we are give...
```

```
Q5
Expression gives an output without any variable being called but in the case of spam = 10 we have to call the variable to get an output
```

```
Q7
21
```

```
Q8
100 is not a valid name because variable names cannot be named as numbers but however we can name them as numbers if we type as _100
```

```
Q9
We can pass as str(99) since strings cannot be concatenated with integers..
```

```
Q9
int(),str(),float()
```